/*=============================================
=            reset            =
=============================================*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
<<<<<<< HEAD
}

a[id="servicios"]:target ~ #main article.panel {
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}

a[id="galeria"]:target ~ #main article.panel {
  -webkit-transform: translateY(-500px);
  transform: translateY(-500px);
}
a[id="contacto"]:target ~ #main article.panel {
  -webkit-transform: translateY(-1000px);
  transform: translateY(-1000px);
=======
>>>>>>> 145fe33f681e48fc153fa8293269cc24828dc0d4
}

/*=====  End of reset  ======*/

/*=============================================
=            Fonts            =
=============================================*/

@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400i, 700|Poppins:300,700&display=swap");

/*=====  End of Fonts  ======*/

/*=============================================
=            Universal            =
=============================================*/

body {
  font: 1rem $body;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headings;
  color: $heading-colour;
}

a {
  color: $link-colour;
  text-decoration: none;
  &:hover {
    color: $brand-colour;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  overflow: hidden;
}

/*=====  End of Universal  ======*/

/*=============================================
=            Site Header            =
=============================================*/

.site-header {
  padding: 70px 0;
  margin: 0 auto;
  transition: 0.3s ease all;
}

/*=====  End of Site Header  ======*/

/*=============================================
=            Logo            =
=============================================*/

.site-logo {
  text-align: center;
  margin-bottom: 30px;
}

/*=====  End of Logo  ======*/

/*=============================================
=            Social List            =
=============================================*/

.site-social-list {
  li {
    list-style: none;
    margin: 0px 10px;
    display: inline-block;
    a {
      color: #ebebeb;
      font-size: 2rem;
<<<<<<< HEAD
      transition: 0.3s ease all;
      &:hover{
        color: $brand-colour
      }
=======
>>>>>>> 145fe33f681e48fc153fa8293269cc24828dc0d4
    }
  }
}

/*=====  End of Social List  ======*/

/*=============================================
=            Site-nav            =
=============================================*/

.site-nav {
  @include uppercase();
  font-size: 0.7rem;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 20px;
    a {
      &.active {
      }
      display: block;
    }
  }
}

/*=====  End of Site-nav  ====  ==*/

/*=============================================
=            Info Block            =
=============================================*/

.info-block {
}

.info-block__title {
  margin-bottom: 10px;
  text-align: center;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 2rem;
    font-weight: 400;
  }
}

.info-block__title--fancy {
  &:after {
    content: "";
    display: inline-block;
    background: $brand-colour;
    margin: 0 auto;
    width: 46px;
    height: 4px;
    margin-bottom: 20px;
  }
}

.info-block__title--big {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 3.5rem;
    color: black;
  }
}

.info-block__subtitle {
  text-align: center;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  span {
    @include uppercase();
    color: $brand-colour;
    font-size: 0.8rem;
  }
}

.info-block__body {
  margin-bottom: 50px;
  p {
    color: #616161;
  }
}

.info-block__cta {
  @include uppercase();
  font-size: 0.7rem;
  p {
    a {
      padding-bottom: 10px;
<<<<<<< HEAD
      position: relative;
      &:after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 90%;
        background: $brand-colour;
        transition: 0.3s ease all;
        z-index: -1;
      }
      &:hover {
        color: #fff;
        &:after {
          top: -10px;
        }
      }
=======

      border-bottom: 2px solid $brand-colour;
>>>>>>> 145fe33f681e48fc153fa8293269cc24828dc0d4
    }
  }
}

/*=====  End of Info Block  ======*/

/*=============================================
=            Blockquote            =
=============================================*/

.quote {
  text-align: center;
  margin: 0 auto 30px auto;
  &:after {
    content: "";
    display: block;
    background: $brand-colour;
    width: 2px;
    height: 100px;
    margin: 30px auto 20px auto;
  }
}

.quote__body {
  font-family: $headings;
  color: $heading-colour;
  font-size: 1.8rem;
}

.quote__name {
  @include uppercase();
  font-style: normal;
  font-size: 0.7rem;
  color: $heading-colour;
  display: block;
  margin-top: 20px;
}

/*=====  End of Blockquote  ======*/

/*=============================================
=            Showcase            =
=============================================*/

.showcase {
  margin-bottom: 50px;
}

.showcase__img {
  object-fit: cover;
}

.showcase--bigger {
  display: none;
  position: relative;
}

.showcase__play {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  cursor: pointer;
  z-index: 2;
  background: #5da8ef;
  border-radius: 50%;
  width: 136px;
  height: 136px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease all;

  i {
    color: #fff;
    font-size: 2rem;
    transition: 0.3s ease all;
  }

  &.paused {
    top: 100%;
  }
}

/*=====  End of Showcase  ======*/

.product {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.product__img {
  background-color: #ececec;
  width: 70%;
  height: 420px;
  img {
    transform: translateY(-10%);
    width: 70%;
  }
}

.product__body {
  width: 70%;
  white-space: nowrap;
  margin-top: 50px;
  position: relative;
  z-index: 3;
}

.product__category {
  @include uppercase();
  color: #7a7a7a;
  font-size: 0.7rem;
  text-align: left;
  font-weight: 400;
}

.product__title {
  font-size: 2rem;
  letter-spacing: 0.26px;
  text-align: left;
  font-weight: 400;
  margin-bottom: 35px;
}

.product__price {
  text-align: left;
  margin-left: 50%;
  transform: translateX(-50%);
  span {
    font-size: 2rem;
    color: #ce60a8;
    display: block;
    margin-bottom: 5px;
  }
  a {
    @include uppercase();
    color: $heading-colour;
  }
}

/*=============================================
=            Hero            =
=============================================*/

.hero {
  margin-bottom: 50px;
}

/*=====  End of Hero  ======*/

/*=============================================
=            Shop            =
=============================
================*/

.shop {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.shop__title {
  color: $heading-colour;
  font-size: 3rem;
  font-family: $headings;
  font-weight: 700;
  padding-bottom: 50px;
}

.shop__subtitle {
  @include uppercase();
  color: $brand-colour;
  font-size: 0.8rem;
}

.shop__slider-container {
  margin-bottom: 100px;
  position: relative;
  transition: 0.3s ease all;
}

.shop__slider {
  transition: 0.3s;
  display: flex;
}

.shop__slide {
  flex: 0 0 100%;
  max-width: 100%;
}

.shop__arrow {
  width: 20px;
  height: 36px;
  display: block;
  font-size: 3rem;
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
<<<<<<< HEAD
  z-index: 4;
=======
>>>>>>> 145fe33f681e48fc153fa8293269cc24828dc0d4
  font-weight: 300;
  cursor: pointer;
}

.shop__arrow--left {
  background: url("../img/left.png");
  left: 0px;
}

.shop__arrow--right {
  background: url("../img/right.png");
  right: 0px;
}

/*=====  End of Shop  ======*/

/*=============================================
=            Events            =
=============================================*/

.events {
  margin-top: 50px;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.event__body {
  width: 80%;
  margin-bottom: 50px;
}

.event__img {
  width: 100%;
}

.event__img--small {
  order: 2;
}

/*=====  End of Events  ======*/

/*=============================================
=            Form            =
=============================================*/

.join-form {
  margin-top: 50px;
  text-align: center;
  padding-bottom: 150px;
  background: url("../img/form-back.png") no-repeat center center;
  background-size: cover;
}

.join-form__heading {
  font-size: 2.8rem;
  margin-bottom: 15px;
}

.join-form__second-text {
  font-size: 1rem;
  color: #616161;
  letter-spacing: 0.35px;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 30px;
}

.join-form__form {
  width: 90%;
  display: flex;
  align-items: stretch;
  margin: 0 auto;
  input {
    @include uppercase();
    letter-spacing: 5.4px;
    display: block;
    width: 70%;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.03);
    background-color: #f5f5f5;
    border: none;
    padding: 30px 30px;
  }
  button {
    width: 30%;
    display: block;
    background-color: #5da8ef;
    border: none;
    i {
      font-size: 1.5rem;
      color: #fff;
    }
  }
}

/*=====  End of Form  ======*/

/*=============================================
=            Places            =
=============================================*/

.places {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.places__img {
  width: 100%;
  img {
  }
}

.places__body {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  .info-block__subtitle {
    p {
      color: #bcbcbd;
    }
  }

  .info-block__title {
    margin: 60px 0;
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
    }
  }
}

/*=====  End of Places  ======*/

/*=============================================
=            Footer            =
=============================================*/

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0;
  .site-logo {
    margin-bottom: 40px;
  }
  .site-social-list {
    margin-top: 40px;
  }
}

/*=====  End of Footer  ======*/

/*=============================================
=            Media block            =
=============================================*/
@media (min-width: 500px) {
  .showcase__body {
    width: 50%;
    margin-top: 30px;
    margin-left: 70px;
  }
}

@media (min-width: 720px) {
  body {
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 2px;
      background: $border-colour;
      z-index: -1;
    }
    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 50%;
      border: 2px solid $border-colour;
      border-top: none;
      border-bottom: none;
      z-index: -1;
    }
  }
  .site-logo {
    text-align: left;
    margin-bottom: 0;
  }

  .site-nav {
    text-align: left;
  }
  .showcase {
    width: 50%;
    margin-bottom: 50px;
  }

  .showcase--bigger {
    width: 60%;
    margin-top: 40px;
    margin-left: -7%;
    display: block;
  }
  .shop {
    margin-top: 200px;
    margin-bottom: 200px;
  }
  .shop__title {
    padding-bottom: 200px;
  }
  .events {
    margin-top: 200px;
  }
}

@media (min-width: 800px) {
  .site-header--mini {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: white;
    padding: 5px 0;
    transition: 0.3s ease all;
    left: 0;
    top: 0;
    .site-logo {
      transform: scale(0.5);
    }
  }
  .hero {
    position: relative;
    margin-bottom: 150px;
  }

  .hero__text {
    position: absolute;
    top: 50%;
    width: 38%;
    transform: translateY(-50%);
  }

  .hero__img {
    text-align: right;
    img {
      width: 85%;
    }
  }

  .info-block__title,
  .info-block__subtitle {
    text-align: left;
  }

  .quote {
    width: 50%;
  }

  .shop__slide {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-right: 50px;
  }

  .shop__arrow--left {
    left: 0%;
  }

  .shop__arrow--right {
    right: 0%;
  }

  .product {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .product__img {
    width: 55%;
    height: 420px;
    img {
      transform: translateY(-40%);
      width: 100%;
      height: 160%;
    }
  }

  .product__body {
    width: 40%;
    margin-left: -30px;
  }

  .events {
    margin-top: 50px;
  }

  .event {
    margin-bottom: 150px;
    flex-direction: row;
  }

  .event__body {
    width: 35%;
    padding-right: 10px;
  }

  .event__img {
    width: 65%;
  }

  .event__img--small {
    padding-right: 100px;
    padding-left: 250px;
    order: -1;
  }

  .join-form {
  }

  .join-form__heading {
    &:before {
      content: "";
      display: block;
      margin: 0 auto;
      width: 2px;
      height: 150px;
      background-color: #5da8ef;
      margin-bottom: 60px;
    }
  }

  .join-form__second-text {
    font-size: 1.2rem;
    width: 50%;
    margin-bottom: 70px;
  }

  .join-form__form {
    width: 50%;
    display: flex;
    align-items: stretch;
    input {
    }
    button {
    }
  }

  .join-form__form {
    width: 50%;
    flex-direction: row;
    input {
      width: 90%;
    }
    button {
      width: 10%;
    }
  }

  .places {
    display: flex;
    flex-wrap: wrap;
  }

  .places__img {
    width: 50%;
  }

  .places__body {
    width: 35%;
    text-align: left;

    .info-block__subtitle {
      p {
        color: #bcbcbd;
      }
    }

    .info-block__title {
      margin: 60px 0 60px 90px;
      h1 {
        font-size: 3rem;
        font-weight: 700;
      }
    }
  }
}

/*=====  End of Media block  ======*/
